<h2><%= @user.username %> 's DIARY</h2>

<% @diaries.each do |diary| %>
	<% if diary.number == @user.id %>

	<!--
		date = <%= diary.date %>
		year = date / 10000
		month = year - date/100
		date = date - year - month
	-->

		<p>date:<%= diary.date %></p>
		<p><%= diary.content %></p>
	<% end %>
<% end %>

<%= link_to "[write diary]", diaries_new_path(@user.id) %>
